{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Auth</h1>
{{ message }}
<form method="POST" action="/users/auth">
        <table>
            <tr>
                <td><label for="login">Login:</label></td>
                <td><input id="login" name="login" required></td>
            </tr>
            <tr>
                <td><label for="pass">Pass:</label></td>
                <td><input id="pass" name="pass" required></td>
            </tr>
        </table>
        <input type="submit" name="reg" value="Ok">
        <input type="reset" value="Reset">
    </form>
{% endblock %}
