{% block body %}
Menu:
<a href="/users/profile">Profile</a> /
<a href="/files/load">Load image</a> /
<a href="/users/show">Show users</a> /
<a href="/users/logout">Logout</a>
<h1>Show users</h1>
<table border="1" cellpadding="5">
    <tr>
        <th>Name</th>
        <th><a href="?{{ sort }}">Age</a></th>
        <th>Status</th>
    </tr>
    {% for user in users %}
    <tr>
    <td>{{ user.name }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
