{% extends "baseProfile.html" %}
{% block body %}
<h1>Show users</h1>
<table border="1" cellpadding="5">
    <tr>
        <th>Name</th>
        <th><a href="?{{ sort }}">Age</a></th>
        <th>Status</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>
            {% if user.age > 18 %}
            Совершеннолетний
            {% else %}
            Несовершеннолетний
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
