{% extends "baseProfile.html" %}
{% block body %}
<h1>Update profile</h1>
{{ message }}
<form method="POST" action="/users/update" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="login" >Login:</label></td>
            <td><input id="login" name="login" value="{{ data.login }}" disabled  required></td>
        </tr>
        <tr>
            <td><label for="pass">Pass:</label></td>
            <td><input id="pass" name="pass" placeholder="Empty if not change"></td>
        </tr>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input id="name" name="name" value="{{ data.name }}" required></td>
        </tr>
        <tr>
            <td><label for="age">Age:</label></td>
            <td><input id="age" name="age" value="{{ data.age }}" required></td>
        </tr>
        <tr>
            <td><label for="comment">Comment:</label></td>
            <td><input id="comment" name="comment" value="{{ data.comment }}" required></td>
        </tr>
        <tr>
            <td><label for="userfile">Photo:</label></td>
            <td><input type="file" id="userfile" name="userfile"></td>
        </tr>
    </table>
    <input type="submit" name="reg" value="Ok">
</form>
{% endblock %}
